<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @businessowner.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @businessowner.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @businessowner.password %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @businessowner.company_website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @businessowner.phone %>
</p>

<p>
  <strong>Event:</strong>
  <%= @businessowner.event %>
</p>

<%= link_to 'Edit', edit_businessowner_path(@businessowner) %> |
<%= link_to 'Back', businessowners_path %>
